<div class="p-5 bg-white shadow-lg space-y-3">
  <span class="text-2xl text-indigo-700 font-bold">
    Change Password
  </span>
  <form [formGroup]="form">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Password Old</mat-label>
      <input matInput placeholder="Password Old" type="password" required formControlName="password" />
      <mat-error> Please provide a valid password old </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Password New</mat-label>
      <input matInput placeholder="Password New" type="password" required formControlName="newPassword" />
      <mat-error> Please provide a valid password new </mat-error>
    </mat-form-field>
    <button
      *ngIf="!isBeingSubmit"
      (click)="onSubmit()"
      mat-raised-button
      color="primary"
      [disabled]="!form.valid"
    >
      Change Password
    </button>
    <button
      *ngIf="isBeingSubmit"
      mat-raised-button
      color="primary"
      [disabled]="form.valid"
      type="submit"
    >
      <mat-icon>
        <mat-spinner diameter="20"> </mat-spinner>
      </mat-icon>
      Loading..
    </button>
  </form>
</div>
