<footer class="bg-gray-300 py-8">
  <div class="container mx-auto">
    <div class="grid grid-cols-3">
      <div class="col-span-2">
        <div class="grid grid-cols-3">
          <div class="space-y-2">
            <div class="text-xl font-bold">
              <span>Explore Our Tools</span>
            </div>
            <ul class="space-y-2">
              <li>
                <a routerLink="/candidate">Resume Builder</a>
              </li>
              <li>
                <a routerLink="/candidate">Cover Letter Builder</a>
              </li>
            </ul>
          </div>
          <div class="space-y-2">
            <div class="text-xl font-bold">
              <span>Explore Our Tools</span>
            </div>
            <ul class="space-y-2">
              <li>
                <a routerLink="/candidate">Resume Builder</a>
              </li>
              <li>
                <a routerLink="/candidate">Cover Letter Builder</a>
              </li>
            </ul>
          </div>
          <div class="space-y-2">
            <div class="text-xl font-bold">
              <span>Explore Our Tools</span>
            </div>
            <ul class="space-y-2">
              <li>
                <a routerLink="/candidate">Resume Builder</a>
              </li>
              <li>
                <a routerLink="/candidate">Cover Letter Builder</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-span-1">
        <div class="flex flex-col items-end">
          <a routerLink="/candidate" class="text-4xl font-bold text-indigo-500"
            >uteJOB</a
          >
          <p>© 2021 uteJOB. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
