<footer class="bg-gray-300 py-2">
  <div class="container mx-auto">
    <div class="flex justify-between items-end">
      <div class="py-6">
        <div class="text-xl font-bold">
          <span>Explore Our Tools</span>
        </div>
        <ul class="space-y-2">
          <li>
            <a routerLink="/candidate">Resume Builder</a>
          </li>
          <li>
            <a routerLink="/candidate">Jobs</a>
          </li>
          <li>
            <a routerLink="/candidate">Companies</a>
          </li>
        </ul>
      </div>
      <div class="col-span-1">
        <div class="flex flex-col items-end">
          <a routerLink="/candidate" class="text-4xl font-bold text-indigo-500"
          >uteJOB</a
          >
          <p>© 2021 uteJOB. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
