<div class="px-6 py-3 bg-gray-200">
  <i class="fas fa-home"></i>
  <span class="ml-2 text-indigo-700">Dashboard / City / </span>
  <span>All</span>
</div>

<div class="p-6">
  <app-table
    [title]="'Cities'" [subtitle]="'Manage, Add or Remove Cities here.'"
    [data]="cities && cities.data" [columns]="cityColumns" (onFilter)="filter($event)"
    (onReload)="reload()" (onSort)="sort($event)"
    (onDelete)="remove($event)" (onCreateForm)="openForm()" (onEditForm)="openForm($event)"
    [totalCount]="cities && cities.totalCount" [pageSize]="cities && cities.pageSize"
    (onPageChanged)="pageChanged($event)">
  </app-table>
</div>
